<h1><%= @doctor.name %></h1>
<p><strong>Specialty:</strong> <%= @doctor.specialty %></p>
<p><strong>University:</strong> <%= @doctor.university %></p>

<p><strong>Hospital:</strong> <%= @doctor.hospital.name %></p>

<p><strong>Patients:</strong></p>
<ul>
  <% @doctor.patients.each do |patient| %>
    <section id="patient-<%= patient.id %>">
    <li>
      <%= patient.name %>
      <%= button_to "Remove Patient", remove_patient_doctor_path(@doctor, patient), method: :delete %>
    </li>
    </section>
  <% end %>
</ul>
